# PostgreSQL Veritabanı Bağlantısı
DATABASE_URL="postgresql://postgres:123456@localhost:5432/hasan?schema=public"

# NextAuth Ayarları
AUTH_SECRET="b2b-secret-key-change-in-production-123456"
AUTH_URL="http://localhost:3006"

# Uygulama URL
NEXT_PUBLIC_APP_URL="http://localhost:3006"


